---
---

<div class='mainCircle'>
  <div class='innerCircle'></div>
  <div class='centerCircle'></div>
  <div class='line1'></div>
  <div class='line2'></div>
</div>

<style>
  .mainCircle {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 20px;
    height: 20px;
    background-color: var(--color-black);
    border-radius: 30px;
    margin: auto;
    display: flex;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .mainCircle .innerCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: var(--color-white);
    border-radius: 30px;
    margin: auto;
    display: flex;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  .mainCircle .centerCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: var(--color-black);
    border-radius: 30px;
    margin: auto;
    display: flex;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .mainCircle .line1 {
    position: absolute;
    top: 150%;
    left: 35%;
    width: 1px;
    height: 150%;
    margin: auto;
    background-color: var(--color-black);
    transform: translate(-50%, -50%);
    z-index: 4;
  }

  .mainCircle .line2 {
    position: absolute;
    top: 250%;
    left: 70%;
    width: 1px;
    height: 150%;
    margin: auto;
    background-color: var(--color-black);
    transform: translate(-50%, -50%);
    z-index: 4;
  }

</style>