---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Web Developer Portfolio: Jonatan Mazo" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Jonatan Mazo" />
		<meta name="keywords" content="frontend developer, frontend, react, nextjs, nodejs, software developer, software engineer">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

	@font-face {
		font-family: 'Aileron';
		src: url('/fonts/Ailerons-Typeface.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--color-white: #e1e1e1;
		--color-whiteOp: #e1e1e1ee;
		--color-black: #111;
		--color-blackOp: #1115;
		--color-green: #5fff71;
		--color-red: #ff2247;
		--color-yellow: #f9ff50;
	}

	* {
		font-family: "Mulish", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		letter-spacing: 1px;
		font-style: normal;
	}

	html {
		background: var(--color-white);
		overflow: hidden;
		padding: 0;
		margin: 0;
	}

	html body {
		min-width: 100dvw;
		min-height: 100dvh;
		padding: 0;
		margin: 0;
	}

	/* Chrome, Safari, Edge, Opera */
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

	/* ------------------------------------------------ */

	*::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	*::-webkit-scrollbar-track {
		background: linear-gradient(270deg,transparent 45%, var(--color-black) 50%, transparent 65%);
	}

	*::-webkit-scrollbar-thumb {
		width: 14px;
		background: var(--color-black);
		border-radius: 20px;
		border: 2px solid var(--color-white);
	}
</style>
