---
---


<div class='circleCont'>
  <div class='mainCircle' />
  <div id="circleWithPipes" class='circleWithPipes' />
  <div class='circle3' />
  <div class='circle4' />
</div>

<script>
  function reportWindowSize() {
    const N = 66
    const numberPipes = [ ...Array(N).keys() ].map( i => i+1)
    const container = document.getElementById('circleWithPipes')

    const renderAngle = (data) => {
      let angles = [30]
      data.forEach((itm, index) => {
        angles.push((angles[index] + (360 / numberPipes.length)) % 360); // TAKIT: Added modulo
      })
      return angles
    }

    const angles = renderAngle(numberPipes)
    let html = ''

    angles.forEach((item) => {
      html += `<div class="shapes" style="--deg:${item}deg; position: absolute; top: 47.5%; left: 47.5%; width: 20px; height: ${container.clientHeight * 0.05}px; transform: rotate(var(--deg)) translate(-50%, -${container.clientHeight * 0.45}px); background-color: #1113;"></div>`
    })
    container.innerHTML = html
  }

  window.onresize = reportWindowSize
  reportWindowSize()
</script>

<style>
  .circleCont {
    position: absolute;
    top: -50%;
    left: -450px;

    width: auto;
    height: 100%;
    aspect-ratio: 1/1;

    opacity: .5;

    z-index: 1;
  }

  @media screen and (max-width: 1024px) {
    .circleCont {
      display: none;
    }
  }

  .mainCircle {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    border: 1px dashed var(--color-black);
    border-radius: 50%;
    box-sizing: border-box;

    -webkit-animation: rotate360 60s infinite linear;
	        animation: rotate360 60s infinite linear;
  }

  @-webkit-keyframes rotate360 {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate360 {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .circleWithPipes {
    position: absolute;
    top: 15%;
    left: 15%;

    width: 70%;
    height: 70%;
    border: 1px solid var(--color-black);
    border-radius: 50%;
    box-sizing: border-box;
    opacity: .6;

    display: flex;

    -webkit-animation: rotate360Pipes 120s infinite linear;
	        animation: rotate360Pipes 120s infinite linear;
  }

  @-webkit-keyframes rotate360Pipes {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate360Pipes {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .circle3 {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 55%;
    height: 55%;
    border: 1px dashed var(--color-black);
    border-radius: 60%;
    box-sizing: border-box;

    transform: translate(-50%, -50%);
  }

  .circle4 {
    position: absolute;
    top: 26.5%;
    left: 26.5%;

    width: 45%;
    height: 45%;
    border: 1px dashed var(--color-black);
    border-radius: 50%;

    opacity: .4;

    transform: translate(-25%, -25%);

    -webkit-animation: rotateLess360 59s infinite linear;
	        animation: rotateLess360 59s infinite linear;
  }

  @-webkit-keyframes rotateLess360 {
    0% {
      -webkit-transform: rotate(0) translate(0%, 0%);
              transform: rotate(0) translate(0%, 0%);
    }
    100% {
      -webkit-transform: rotate(-360deg) translate(0%, 0%);
              transform: rotate(-360deg) translate(0%, 0%);
    }
  }
  @keyframes rotateLess360 {
    0% {
      -webkit-transform: rotateZ(0) translate(0%, 0%);
              transform: rotate(0) translate(0%, 0%);
    }
    100% {
      -webkit-transform: rotateZ(-360deg) translate(0%, 0%);
              transform: rotateZ(-360deg) translate(0%, 0%);
    }
  }
</style>