---
---

<div class='personalInfoCont'>
  <h2>Jonatan Mazo</h2>
  <h1>Frontend developer</h1>
  <div class='infoCircleCont'>
    <p>Front-End Developer with X years of experience building user interfaces with a focus on creating immersive and engaging experiences.  Highly skilled in ReactJS and CSS.  Passionate about pushing the boundaries of web development by incorporating innovative features like 3D design elements.  A lifelong learner with a balance of technical and creative pursuits.  When I'm not coding, you can find me drumming, cycling, or exploring the world of video games.</p>
  </div>
</div>

<style>
  h2 {
    margin: auto;
		font-weight: 300;
		text-align: center;
		font-size: 5rem;
		line-height: 5rem;
		font-family: 'Aileron';
		color: var(--color-black);
		z-index: 10;
	}

  h1 {
		margin: 10px auto 30px auto;
		font-weight: 300;
		text-align: center;
		font-size: 1.5rem;
		line-height: 1.5rem;
		color: var(--color-black);
    letter-spacing: 5px;
    text-transform: uppercase;
		z-index: 10;
	}

  .infoCircleCont {
    width: 90%;
    margin: 10px auto;
    display: flex;
    z-index: 10;
  }

  .infoCircleCont p {
    width: 96%;
    margin: 10px auto;
    padding: 2%;
    font-size: 1rem;
		line-height: 1rem;
		color: var(--color-black);
    text-wrap: balance;
    z-index: 5;
  }
</style>